.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a, button, input[type=submit] {
  margin: 5px 20px;
  display: inline-block;
  border: #114411 solid 2px;
  background-color: #228822;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
}

input[type=submit] {
  margin: 20px;
  font-size: 1.5em;
}

.question-box {
  border: #666666 solid 2px;
  background-color: #eeeeee;
  margin: 10px 20px;
}

input[type=radio] {
  margin: 5px 20px;
}

li {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px 10px;
    border: #666666 solid 2px;
    background-color: #dddddd;
    cursor: pointer;
}

.highlight {
  background-color: #cceecc;
}

nav > div {
  display: inline-block;
}

.your-vote {
  color: #ffee33;
  border-radius: 5px;
  border: #333333 solid 1px;
  background-color: #884400;
  position: relative;
  top: -15px;
  padding: 2px 5px
}

.vote {
  border: #333333 solid 1px;
  border-radius: 50px;
  background-color: #eeffee;
  margin: 5px 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
